.page-wrapper {
    display: flex;
    align-items: flex-start;
    @media (max-width: $screen-lg) {
      display: block;
    }

    .responsive-head {
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 16px 25px;
        background: #f9faff;
        border-bottom: 1px solid rgba(112, 112, 112, 0.2);
        position: sticky;
        top: 0;
        z-index: 9;
        @media (max-width: $screen-lg) {
            display: flex;
        }
        .logo img {
            height: 36px;
        }
        .sidebar-toggler {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #4353ff;
            font-size: 20px;
            width: 20px;
            height: 15px;
            position: relative;
            span {
                width: 100%;
                height: 2px;
                background-color: #4353ff;
                display: block;
                transition: .3s;

                &:first-child {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:last-child {
                    position: absolute;
                    top: calc(100% - 2px);
                    left: 0;
                }

            }
            &.active span {
                &:nth-child(2) {
                    transform: translateX(-150%);
                    opacity: 0;
                }
                &:first-child {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(135deg);
                }
                &:last-child {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-135deg);
                }
            }
        }
    }
    .sidebar {
        width: 230px;
        position: sticky;
        top: 0;
        flex-shrink: 0;
        @media (max-width: $screen-lg) {
            position: fixed;
            top: 69px;
            @include dir-left(0);
            height: calc(100% - 69px);
            width: 350px;
            max-width: 100%;
            #{$ltr} & {
                transform: translateX(-100%);
            }
            #{$rtl} & {
                transform: translateX(100%);
            }
            &.show {
                transform: none !important;
            }
        }
        .sidebar-content {
            height: 100vh;
        }
    }
    .content-wrapper {
        flex-shrink: 0;
        width: calc(100% - 230px);
        @media (max-width: $screen-lg) {
          width: 100% !important;
        }
    }
    &:not(.sidebar-collapsed) {
        .sub-menu {
            transform: none !important;
        }
    }
    &.sidebar-collapsed {
        .sidebar {
            width: 55px;
            .sidebar-content {
                overflow: visible !important;
                .sub-menu {
                    display: block !important;
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
        .content-wrapper {
            width: calc(100% - 55px);
        }
    }

    .sidebar-overlay {
        position: fixed;
        top: 69px;
        width: 100%;
        height: calc(100% - 69px);
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        z-index: 9;
        @media (max-width: $screen-lg) {
          display: block;
        }
        &.show {
            opacity: 1;
            visibility: visible;
        }
    }
}