.blue {
    color: $blue;
}
.blue-bg {
    background-color: $blue;
}

.blue_light {
    color: $blue_light;
}
.blue_light-bg {
    background-color: $blue_light;
}

.blue_dark {
    color: $blue_dark;
}
.blue_dark-bg {
    background-color: $blue_dark;
}

.dark {
    color: $dark;
}
.dark-bg {
    background-color: $dark;
}

.gray {
    color: $gray;
}
.gray-bg {
    background-color: $gray;
}

.gray_light {
    color: $gray_light;
}
.gray_light-bg {
    background-color: $gray_light;
}

.red {
    color: $red;
}
.red-bg {
    background-color: $red;
}

.green {
    color: $green;
}
.green-bg {
    background-color: $green;
}

.white {
    color: #fff !important;
}
.white-bg {
    background-color: #fff !important;
}